* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 139, 111);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.text-container {
    background-color: rgb(255, 190, 191);
    height: 400px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 12px;
    text-align: center;
}

#input-text-area {
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.output-container {
    display: flex;
    /* gap: 15rem; */
    justify-content: space-between;
    margin: 10px
}

.output-container p{
    color: grey;
    font-size: 18px;
}
.word-counter{
    color: slateblue;
}
.remaining-counter{
    color: orangered;
}